* {
    margin: 0;
}

body, main{
    background-color: #D7CEC7;
}

/*--------------------------------------------------------- Header ------------------------------------------------------- */
header{
    height: 60px;
    background-color: #eee;
}

/*--------------------------------------------------------- Navbar ------------------------------------------------------- */
.navbar {
    position: relative;
    z-index: 1050;
}

/*--------------------------------------------------------- Main --------------------------------------------------------- */
main{
    height: 80vh;
}

.centrar, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    height: 40vh;
}

/*--------------------------------------------------------- Footer ------------------------------------------------------- */
footer{
    height: 12vh;
    position: absolute;
    bottom: 0;
}
