* {
    margin: 0;
}
/*--------------------------------------------------------- Header ------------------------------------------------------- */
header{
    height: 10vh;
    background-color: #eee;
}

/*--------------------------------------------------------- Navbar ------------------------------------------------------- */
nav ul li{
    list-style: none;
}

/*--------------------------------------------------------- Main --------------------------------------------------------- */
main{
    background-color: #D7CEC7;
    height: 80vh;
}

/*--------------------------------------------------------- Footer ------------------------------------------------------- */
footer{
    border: black 2px solid;
    background-color: #ddc;
    height: 10vh;
}
