* {
    margin: 0;
}

body{
    background-color: #ddc;
}
/*--------------------------------------------------------- Header ------------------------------------------------------- */
header{
    height: 60px;
    background-color: #eee;
}

/*--------------------------------------------------------- Navbar ------------------------------------------------------- */
a{
    margin: 0 5px;
    border-radius: 5px;
}

/*--------------------------------------------------------- Main --------------------------------------------------------- */
main{
    background-color: #D7CEC7;
    height: 85vh;
}

/*--------------------------------------------------------- Footer ------------------------------------------------------- */
footer{
    background-color: #edc;
    height: 10vh;
}
